@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
   font-family: Lato-Light;
   src: url(../fonts/Lato-Light.ttf);
}
@font-face {
   font-family: Lato-Bold;
   src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
   font-family: LatoItalic;
   src: url(../fonts/LatoItalic.ttf);
}
@font-face {
   font-family: LatoRegular;
   src: url(../fonts/LatoRegular.ttf);
}
